<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
    <link rel="stylesheet" href="../css/login.css" th:href="@{/css/login.css}" type="text/css">
    <link rel="stylesheet" href="../css/Loading.css" th:href="@{/css/loading.css}" type="text/css">
</head>
<body>
    <div class="back" id="back">
        <div class="log" id="log">
            <div class="logtitle">LOGIN</div><p></p>
            <form th:action="@{/regs}" action="/login" id="logbody" class="logbody" th:method="post">
                <h6 class="msg" th:text="${msg}"></h6>
                <br>
                <input type="text" id="nickName" size="20" class="txt" placeholder="请输入昵称" name="nickName">
                <br>
                <input type="text" id="userName" size="20" class="txt" placeholder="请输入用户名" name="userName">
                <br>
                <input type="password" id="password" size="20" class="txt" placeholder="请输入密码" name="password">
                <br>
                <input type="submit" value="注册" id="sub-reg" class="sub-reg">

                <a th:href="@{/home}"><input type="button" value="游客登录" id="ykbt" class="ykbt"></a>
            </form>     
        </div>
    </div>
    <div class="con" id="con">
        <div class="load">
            <div class="dot" style="--i:0"></div>
            <div class="dot" style="--i:1"></div>
            <div class="dot" style="--i:2"></div>
            <div class="dot" style="--i:3"></div>
            <div class="dot" style="--i:4"></div>
            <div class="dot" style="--i:5"></div>
            <div class="dot" style="--i:6"></div>
        </div>
    </div>
        <footer class="foot">
        <a href="https://beian.miit.gov.cn/" target="_blank">蜀ICP备2022024413号-1</a>
    </footer>
</body>
</html>